@namespace Undersoft.SDK.Service.Application.Components
@inherits ComponentModule
@attribute [JSModuleAutoLoader(JSObjectReference = true)]
@typeparam TValue

<span @attributes="AdditionalAttributes" id="@Id">&nbsp;</span>
