@namespace Undersoft.SDK.Service.Application.Components
@inherits Component

<div class="@ClassString" @ref="TransitionElement" @attributes="@AdditionalAttributes" style="@StyleString">
    @ChildContent
</div>
