@namespace Undersoft.SDK.Service.Application.Components
@inherits Component

<a href="#" class="layout-gotop" title="" data-bs-toggle="tooltip" data-bs-placement="left" data-original-title="@TooltipText" @ref="GoTopElement">
    <i class="@Icon"></i>
</a>
